<html>
  <head>
    <title>Editer un potin</title>
  </head>
  
  <body>
    <h1>Edite un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>

    <form action='/gossips/:id/edit/' method='POST'> 
      Saisis ici ton nom :  <input type='text' name='gossip_author'/><br/> 
      Balance le potin que tu veux modifier : <input type='text' name='gossip_content'/><br/> 
      <input type='submit'/>
    </form>

  </body>
</html>


