<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1 >Mon super site de gossip, depuis le dossier views !</h1>
    <p>Bienvenue l'ami, la liste des potins arrive bientôt !</p>
    <p>Clique <a href="http://localhost:4567/gossips/new/">ici</a> pour poster un potin</p>/p>

    <p>Voici tous les potins</p><br>
    
    <% gossips.each_with_index do |gossip, index| %>
      <p>Son auteur :<%= gossip.author %></p>
      <p>Le contenu du potin :<%= gossip.content %></p>
      <p><% link = "http://localhost:4567/gossips/" + index.to_s %>
      <% url = link %>
      <a href="<%= url %>">Voici la page du potin en question</a></p>
    <% end %>
  </body>
</html>
