<html>
    <head>
        <title>Ze Jordanou Project</title>
    </head>
    <body>
        <h1>PAGE POTIN</h1>

        <p>Voici la page du potin n°<%= specific  %></p>
        <p>Son auteur : <%= Gossip.all[specific.to_i].author%></p>
        <p>Le contenu du potin : <%= Gossip.all[specific.to_i].content%></p>



    </body>
        
        
